# SPDX-License-Identifier: Apache-2.0
FUNCTION_NAME="event-monitoring-service"
NODE_ENV="dev"
MAX_CPU=1
APP_PORT=3002

# Database Configuration
DB_HOST=1.2.3.4
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=tcs

DB_MIN_CONNECTIONS=8
DB_MAX_CONNECTIONS=500

# Redis Configuration (Required)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis-password
TTL=3600

# NATS Configuration (frms-coe-startup-lib)
SERVER_URL=localhost:4222
STARTUP_TYPE=nats
PRODUCER_STREAM=dems.notification.response
CONSUMER_STREAM=config.notification


# Tazama Authentication
TAZAMA_AUTH_URL=http://mentionURLhere:3020/v1/auth/login
AUTH_PUBLIC_KEY_PATH=public-key.pem
CERT_PATH_PUBLIC=public-key.pem

