# SPDX-License-Identifier: Apache-2.0

# Test Environment Configuration
NODE_ENV=test
FUNCTION_NAME=event-monitoring-service
MAX_CPU=1
APP_PORT=3002

# Database Configuration (Test)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=test_db

# for raw history
DYNAMIC_HISTORY_DB_HOST=
DYNAMIC_HISTORY_DB_PORT=
DYNAMIC_HISTORY_DB_NAME=
DYNAMIC_HISTORY_DB_USER=postgres
DYNAMIC_HISTORY_DB_PASSWORD=postgres
DYNAMIC_HISTORY_DB_CERT_PATH=


# Redis Configuration (Test)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password
REDIS_DB=0
CACHE_TTL=86400
TTL=3600

# NATS Configuration (Test)
SERVER_URL=nats://localhost:4222
STARTUP_TYPE=nats
CONSUMER_STREAM=consumer-stream
PRODUCER_STREAM=producer-stream